/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f9fcfc;
  color: #1e3f3f;
}
main {
  padding-top: 70px; /* For fixed header spacing */
}
h2 {
  font-weight: 700;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
}
